%btn-radius {
  border: 1px solid $main-border-color;
  border-radius: 2px;
  box-sizing: border-box;
}

%no-margin {
  margin: 0;
}

%delivery_when-to {
  color: $placeholder-color;
  font-size: 11px;
  line-height: 1.18em;
  margin: 0;
  margin-bottom: 8px;
}

%list {
  @extend %no-margin;
  list-style: none;
  padding: 0;
}

%link {
  color: $main-light-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15em;
  text-decoration: none;
}

%copy-link {
  color: $main-light-color;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18em;
  text-decoration: none;
}

%border-accent {
  display: block;
  content: "";
  height: 1px;
  background-color: $main-light-color;
  opacity: 0.4;
}

%footer-link-hover {
  &:hover {
    color: $main-accent-color;
    transition: all 0.6s;
  }
}
