$main-light-color: #fff;
$main-dark-color: #262626;
$main-border-color: #e0e0e0;
$main-text-color: #1d1d1d;
$search-border-accent: #757575;
$placeholder-color: #626262;
$select-bg-color: #3b3b3b;
$main-accent-color: #49a144;
$btn-up: #59bd5a;
